* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
}

header {
    background-color: #f4f4f4;
    color: black;
    padding: 10px 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

header nav ul li {
    margin: 0 15px;
    font-size: 1.2rem;
}

header nav ul li a {
    color: black;
    text-decoration: none;   
}

#produtos {
    margin: 30px;
    text-align: center;
}

.produtos-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.produto {
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.produto img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.produto h3 {
    margin: 10px 0;
    font-size: 1.2rem;
}

.produto p {
    font-size: 1rem;
    margin: 10px 0;
}

.produto button {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.produto button:hover {
    background-color: #218838;
}

#carrinho {
    padding: 20px;
    text-align: center;
}

#itens-carrinho {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f4f4f4;
    color: black;
    margin-top: 30px;
}
